@model Core.Models.CMS.AuditLog

@{
    ViewData["Title"] = "Audit Log Details";
}

<h1 class="mb-4">Audit Log Details</h1>

<div class="card p-4 shadow-sm">
    <h4 class="mb-3">Audit Log</h4>
    <hr class="mb-4" />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Timestamp)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.HttpMethod)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.HttpMethod)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Controller)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Controller)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Action)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Action)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Parameters)
        </dt>
        <dd class="col-sm-9">
            <pre class="bg-light p-2 rounded">@Html.DisplayFor(model => model.Parameters)</pre>
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Result)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Result)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ExceptionDetails)
        </dt>
        <dd class="col-sm-9">
            <pre class="bg-light p-2 rounded text-danger">@Html.DisplayFor(model => model.ExceptionDetails)</pre>
        </dd>
    </dl>
</div>

<div class="mt-3">
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
